In [10]:
import pandas as pd
import numpy as np

In [33]:
df = pd.read_excel('Data/data_base.xlsx')
df

               Nombre  Numero Categoria Hora de salida
0               Juana      14    Perros       08:29:00
1            Carlitos     143    Perros       08:29:00
2              Pepito      53    Perros       08:29:00
3              Chigüi     141    Perros       08:29:00
4             Gabriel      98    Perros       08:29:00
5              Pancha     231     Gatos       08:29:00
6             Carlota     214     Gatos       08:29:00
7       Jesús Antonio      52     Gatos       08:29:00
8             Gerarda      15     Gatos       08:29:00
9       La virgencita      64     Gatos       08:29:00
10            El Gato     241     Gatos       08:29:00
11                Alá      86     Gatos       08:29:00
12        Bob esponja      45    Chivos       08:29:00
13    El hombre araña      36    Chivos       08:29:00
14           Gatúbela      32    Chivos       08:29:00
15              Nairo      76    Chivos       08:29:00
16              James      23    Chivos       08:29:00
17  Dieguito Maradona      67    Chivos       08:29:00

In [42]:
df['Tiempo de llegada'] = np.random.random(18)*100
df

,Nombre,Numero,Categoria,Hora de salida,Random,Tiempo de llegada
0,Juana,14,Perros,08:29:00,0.507000,80.701625
1,Carlitos,143,Perros,08:29:00,0.713049,74.770319
2,Pepito,53,Perros,08:29:00,0.640768,28.483601
3,Chigüi,141,Perros,08:29:00,0.732708,96.479035
4,Gabriel,98,Perros,08:29:00,0.260181,60.570675
5,Pancha,231,Gatos,08:29:00,0.381620,82.266626
6,Carlota,214,Gatos,08:29:00,0.026678,60.531975
7,Jesús Antonio,52,Gatos,08:29:00,0.472737,56.679302
8,Gerarda,15,Gatos,08:29:00,0.728861,0.745159
9,La virgencita,64,Gatos,08:29:00,0.806586,5.363977
10,El Gato,241,Gatos,08:29:00,0.416820,84.105626
11,Alá,86,Gatos,08:29:00,0.178285,82.234999
12,Bob esponja,45,Chivos,08:29:00,0.985102,20.292744
13,El hombre araña,36,Chivos,08:29:00,0.976382,0.291678
14,Gatúbela,32,Chivos,08:29:00,0.998292,82.530507
15,Nairo,76,Chivos,08:29:00,0.230480,53.737294
16,James,23,Chivos,08:29:00,0.146898,31.825831
17,Dieguito Maradona,67,Chivos,08:29:00,0.346017,48.680389

In [44]:
df.loc[df['Categoria']=='Perros','Tiempo de llegada'].mean()

df.groupby('Categoria')['Tiempo de llegada'].mean()

Categoria
Chivos    39.559741
Gatos     53.132524
Perros    68.201051
Name: Tiempo de llegada, dtype: float64